<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShamsErpBeta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ShamsErpBeta.Properties.Settings>
            <setting name="AdminName" serializeAs="String">
                <value>ezoo</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ShamsFaDB</value>
            </setting>
            <setting name="SQLLogin" serializeAs="String">
                <value>Ezo</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>1234</value>
            </setting>
        </ShamsErpBeta.Properties.Settings>
    </userSettings>
</configuration>